header {
    width: 400px;
    background-color: red;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px 15px 0px 0px;
}
h1 {
    font-size: 4rem;
    
}
* {
    box-sizing: border-box;
}
h1, h2 {
    margin: 0;
}
footer {
    background-color: red;

}